<h1>
  <span class="title_url"><%= @link.title %></span> <br>
  <small class="author">Submitted <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %></small>
</h1><br>
<%= link_to "View Url", @link.url, class: "btn btn-sm btn-primary" %>